  
<div class="footer">
  <div class="footer-copyright mt-4">
    <h5 class="company-name font-weight-bold mb-0">Time-Share, AB</h5>
    <p class='mb-0'>Drottninggatan</p>
    <p class='mb-0'>111 51 Stockholm</p>
    <p class='mb-0'>Tel: 010-127 1313</p>
  </div>
  <div>
    <%# <div class='time-share footer-logo'></div> %>
    <%= image_tag 'TimeShare.png', {:style => "width:100px;", :class => "footer-logo"}  %>
    <% link_to root_path  %>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
