< <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright mt-4">
    <h5 class="text-uppercase font-weight-bold">Watchly, AB</h5>
    <p class='mb-0'>Drottninggatan 39</p>
    <p class='mb-0'>111 51 Stockholm</p>
    <p class='mb-0'>Tel: 010-127 1313</p>
  </div>
</div>
