<div class="container">
  <div class="d-flex">
    <div>
      <% @watch.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 300, crop: :fill %>
      <% end %>
    </div>
  <div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h4 class="card-title"><%= @watch.brand %></h4>
      <h5 class="card-title"><%= @watch.model %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= @watch.year %></h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <button type="button" class="btn btn-success">view price</button>
    </div>
  </div>
</div>
