body {
    background-color: rgb(201, 201, 201);
    font-family: 'Sorts Mill Goudy', serif;
}

.recently-added {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10;
    font-family: 'Sorts Mill Goudy', serif;
}

#page-text {
    font-family: 'Sorts Mill Goudy', serif;
}