/*---Firefox Bug Fix --*/

.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}


/*--- Fixed Background Image --*/

figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}

.festina {
    background-image: url('festina-watch.png');
    width: 100%;
}

.breitling {
    background-image: url('breitling.png');
    width: 100%;
}

.roger-dubois {
    background-image: url('roger-dubois.png');
    width: 100%;
}

.carousel-img {
    height: 650px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}