.main-container {

    min-height: 100vh;
    /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-top: 90px;
    padding-bottom: 150px;
    /* height of your footer */
}

