.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding: 10px 50px;
    color: rgb(255, 255, 255);
    background: #000000;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 40px;
}

.footer-links {
    display: flex;
    align-items: center;
}

.footer-links a {
    color: rgb(255, 255, 255);
    opacity: 0.90;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
}

.footer-links a:hover {
    opacity: 1;
    color: #ffe066;
}

.footer-copyright {
    align-content: left;
}

.time-share {
    background-image: url('TimeShare.png');
}

.footer-logo {
    height: 9px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}