.simple-form-container {
    padding: 8px;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border-radius: 8px;
}

.btn-watchly {
    background-color: #753188;
    color: #ffffff;
    border-radius: 8px;
}

.btn-watchly:hover {
    background-color: #753188;
    color: #FFE066;
    border-radius: 8px;
}