.simple-form-container {
    padding: 8px;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border-radius: 8px;
}

.btn-watchly {
    background-color: #565656;
    color: #ffffff;
    border-radius: 8px;
}

.btn-watchly:hover {
    color: #FFE066;
}

.submit-button {
    background-color: #565656;
    color: #ffffff
}

.submit-button:hover {
    background-color: #565656;
    color: #FFE066;
}

.start-date-left {
    padding-left: 30px;
}