.mapboxgl-popup {
  max-width: 300px;
  border-radius: 7px;
  margin-top: 5px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.mapboxgl-popup-content a {
  color: black;
}
