.navbar-lewagon {
    height: 90px;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    background: #000000;
    // background-color: transparent;
    transition: 0.5s background-color ease;
}

.navbar-lewagon .navbar-collapse {
    flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
    width: 40px;
}

.navbar-logo img {
    width: 60px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffe066;
}

.btn-search {
    margin-left: 5px;
}

.search-field {
    background-color: #000000;
    color: #ffffff;
}

.form-inline .form-control {
    width: 800px;
}