.card {
   border-radius: 5px;
   align-items: center;
   align-content: center;
   background-color: rgb(243, 231, 215);
}

.btn {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border:black;
}
